name: 'Integration testing'
on:
  push:
  workflow_dispatch:

jobs:
  integration-testing:
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4
      - uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Check
        working-directory: integration-testing
        run: ./gradlew check -i
      - name: Upload Artifact
        if: success() || failure()
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4
        with:
          name: test-result
          path: /home/runner/work/**/build/reports
          retention-days: 2