name: 'Publication'
on:
  push:
    paths:
      - 'xenit-alfresco/**'
    tags:
      - v*
jobs:
  continuousIntegration:
    runs-on: ubuntu-latest
    steps:
      - name: Parse version
        run: |
          echo "version=${GITHUB_REF#refs/tags/v}" >> "$GITHUB_ENV"
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4
      - name: Package Helm Chart
        run: |
          helm package xenit-alfresco --version "${{ env.version }}"
      - name: publish to cloudsmith
        id: push
        uses: cloudsmith-io/action@master
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          command: 'push'
          format: 'helm'
          owner: 'xenit'
          repo: 'open-source'
          file: 'alfresco-${{ env.version }}.tgz'